id ICON "digger.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Voice of Infinity Systems"
      VALUE "FileDescription", "Game of Digger"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "sdl_digger"
      VALUE "LegalCopyright", "Maksym Sobolyev"
      VALUE "OriginalFilename", "digger.exe"
      VALUE "ProductName", "SDL Digger (Windows)"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
